# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
build/

# Environment variables
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local
client/.env
client/.env.local
client/.env.example
client/.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
serviceAccountKey.json

# Local scratch files
scratch/